body{
  overflow-x: hidden;
}
.top-bar{
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}
.top-bar-image{
  width: 49%;
  height: 39%;
  position: static;
  float: left;
  object-fit: cover;
  padding: 1px;
}
.top-bar-image2{
  width: 50.5%;
  height: 19%;
  position: static;
  float: left;
  object-fit: cover;
  padding: 1px;
}
.top-bar-image3{
  width: 25%;
  height: 20%;
  position: static;
  float: left;
  object-fit: cover;
  padding: 1px;
}
.top-bar-image4{
  width: 24.5%;
  height: 20%;
  position: static;
  float: left;
  object-fit: cover;
  padding: 1px;
}
.top-bar-heading{
  color: whitesmoke;
  position: absolute;
  z-index: 20;
  font-size: 47;
  opacity: 0.5
}
.top-bar-paragraph {
  font-size: 27;
  opacity: 1.0;
  color: whitesmoke;
  position: absolute;
  z-index: 40;
}
.column{
  columns: 2;
  display:inline-column;
}
.akan-day-name{
  font-style: italic;
  font-weight: lighter;
  color: grey;
}
.top-bar-description{
  width: 75%;
  background-color: rgb(255, 94, 0);
  opacity: 0.8;
  padding: 20px;
  height: 70px;
  position: relative;
  top: -30;
  display: inline-block;
  margin: 0 auto;
  left: 7%;
  color: white;
}
