
.top-bar{
  display: inline-block;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-image: url('https://as2.ftcdn.net/jpg/01/33/42/21/500_F_133422168_UwdzHbcw9wdZqpEPnm5JOonU8fEZrw1B.jpg');
  background-position: center;
}
.top-bar-image{
  width: 50px;
  float: right;
  height: 40px;
  margin-left: 10px;

}
.top-bar-logo{
  width:100px;
  height: 100px;
}
.countries{
  display: block;
  float: right;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  color: #587850;
  font-size: 300;
}
.header p {
  font-size: larger;
  font-weight: bolder;
}
.personBirthday{
  padding: 3px;
}